@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.navbar-brand {
    font-family: 'Pacifico', cursive;
    font-size: 23px;
}

#sidebar {
    height: fit-content;
}

#sidebar ul li:hover {
    background-color: aliceblue;
}

.custom-link {
    color: rgb(146 130 197);
    text-decoration: none;
}

.post-link {
    color: rgb(71, 71, 71);
    text-decoration: none;
}

.custom-page-link {
    text-decoration: none;
}