body {
    background-color: #feffff;
}

#sidebar {
    height: fit-content;
}

.custom-link{
	text-decoration: none;
    color: #807f7f;
}

.post-link{
	color: rgb(71, 71, 71);
	text-decoration: none;
}